a {
  text-decoration: none !important;
  color: white !important;
}
i {
  color: white;
}
h2 i {
  color: black;
}
h2 {
  font-family: "Roboto", serif;
}
h3, h4, h5, p {
  font-family: "Merriweather", serif;
}
span {
  text-decoration: line-through;
  color: white !important;
  text-decoration-color: rgba(10, 0, 0, .4);
}
.nav-link {
  font-size: 1.5rem;
}
.jumbotron {
  /* Mobile background */
  background-image: url("./images/tj.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.vertical-center {
  height: 100%;
  width: 100%;
  /* Creates a transparent filter to cover the jumbotron */
  background-color: rgba(0, 0, 0, .45);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
h1 {
  position: relative;
  font-family: "Pacifico", serif;
  animation-name: title;
  animation-duration: 1.2s;
  animation-timing-function: linear;
}
@keyframes title {
  0% {
    top: 100px;
    opacity: 0;
  }
  25% {
    top: 80px;
    opacity: .25
  }
  50% {
    top: 60px;
    opacity: .5;
  }
  75% {
    top: -40px;
    opacity: .75;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.card {
  width: 100%;
}
.card-title {
  font-size: 1.5rem;
}
.card-text {
  max-height: 10rem;
}
.card ul li {
  font-size: 1.2rem;
}


.carousel {
  max-width: 80vh;
}
.carousel img {
  max-height: 100vh;
}

// (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// (tablets, 768px and up)
@media (min-width: 768px) {

}

// (desktops, 992px and up)
@media (min-width: 992px) {
  /* desktop background */
  .jumbotron {
    background-attachment: fixed;
    background-image: url("desktop_jumbo.jpg");
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
